@import url("./variables.css");

@import url("./components/button.css");
@import url("./components/input-field.css");
@import url("./components/card.css");
@import url("./pages/login.css");

@import url("./pages/teacher.css");
@import url("./pages/classroom.css");

@import url("./widget/breadcrumb-card.css");
@import url("./widget/upazilla-dashboard-tab.css");
@import url("./widget/table.css");
@import url("./widget/noipunno-nav.css");
@import url("./widget/noipunno-footer.css");
@import url("./widget/student-tab.css");
@import url("./widget/noipunno-accordion.css");
@import url("./widget/modal.css");

@import url("./components/badge.css");

.np-breadcrumbs-card {
    margin-top: 10px;
}

.np-route {
    text-decoration: unset !important;
}

.form-check-input:checked {
    background-color: var(--primary-color-1);
    border-color: var(--primary-color-1);
}

.np-total-count-card .card-body {
    justify-content: space-between;
}

.np-total-count-card .content-details {
    flex-direction: column;
    row-gap: 10px;
}

.np-total-count-card .content-details .contents .sub-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    color: var(--primary-color-1);
    margin: 0;
}

.np-total-count-card .content-details .contents .title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: var(--primary-color-dark);
    margin: 0;
}

.np-total-count-card .count-details {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--primary-color-2);
    color: var(--primary-color-1);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
}

.np-selection-group label {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    color: var(--text-secondary-color);
}

.np-selection-group .form-select {
    border-radius: 10px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-color: var(--primary-color-1);
    color: var(--primary-color-1);
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
}

.assestment-tabs .active {
    border-bottom: 2px solid #428f92;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #428f92 !important;
}

.fade.modal.show {
    z-index: 9999 !important;
    border-bottom: 2px solid #428f92;
}

.swal2-container.swal2-center.swal2-backdrop-show {
    z-index: 23323 !important
}

/* @media (min-width: 538px) {
    .modal-rakesh.modal-lg.modal-dialog-centered {
        position: absolute;
        right: 0;
        top: -12px;
    }
} */

.pointer {
    cursor: pointer;
}

.custom-py-2 {
    padding-top: .5rem;
    padding-bottom: 0;
}


.custom-px-2 {
    padding-right: 40% !important
}

/* .custom-ps{
    padding-right: 10% !important;
} */

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    animation: marquee-animation 10s linear infinite;
    /* Adjust the duration as needed */
}

@keyframes marquee-animation {
    from {
        transform: translateX(100%);
        /* Move the text offscreen initially */
    }

    to {
        transform: translateX(-100%);
        /* Scroll the text to the left */
    }
}



.total-student-show .text {
    position: relative;
    line-height: 20px;
}

.total-student-show .success {
    position: relative;
    line-height: 14px;
    font-weight: 500;
}

.total-student-show .badge {
    border-radius: 4px;
    background-color: #f0fae9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 5px;
    color: #69cb1c;
}

.total-student-show .bottom {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: left;
    font-size: 13px;
    color: #7daeb0;
    font-family: 'Public Sans';
}


.alert-danger,.alert-error,.bg-danger,.label-danger {
    background-color: #dc3545!important;
}

a.alert-danger:focus,a.alert-danger:hover,a.alert-error:focus,a.alert-error:hover,a.bg-danger:focus,a.bg-danger:hover,a.label-danger:focus,a.label-danger:hover,button.alert-danger:focus,button.alert-danger:hover,button.alert-error:focus,button.alert-error:hover,button.bg-danger:focus,button.bg-danger:hover,button.label-danger:focus,button.label-danger:hover {
    background-color: #bd2130!important
}








.std-identity .institution-name {
    color      : var(--text_dark);
    font-family: Roboto;
    font-size  : 15px;
    font-style : normal;
    font-weight: 600;
    line-height: 38px;
    font-weight: 600;
    width      : 200px;
  }
  
  .std-identity .dots {
    color      : var(--text_dark);
    font-family: Roboto;
    font-size  : 15px;
    font-style : normal;
    font-weight: 600;
    line-height: 38px;
  }
  
  .sucjects {
    color      : var(--text_dark);
    font-family: Roboto;
    font-size  : 30px;
    font-style : normal;
    font-weight: 400;
    line-height: 38px;
  }
  
  .subjucts-icon-name .icon {
    color      : var(--text_dark);
    font-family: Roboto;
    font-size  : 25px;
    font-style : normal;
    font-weight: 600;
    line-height: 38px;
  }
  .subjucts-icon-name .subject {
    color      : var(--text_dark);
    font-family: Roboto;
    font-size  : 15px;
    font-style : normal;
    font-weight: 600;
    line-height: 38px;
  }
  
  .report-card-design-title {
    color           : var(--text_dark);
    font-family     : Roboto;
    font-size       : 28px;
    font-style      : normal;
    font-weight     : 400;
    line-height     : 38px;
    background-color: #DDDEE0;
    margin          : 16px 0xp 8px 0px;
    font-weight     : 600;
  }
  
  .report-card-design-subject-title {
    color      : #231F20;
    font-family: Roboto;
    font-size  : 18px;
    font-style : normal;
    font-weight: 600;
    line-height: 38px;
  }
  
  .report-card-design-subject-assessment {
    color         : #231F20;
    font-family   : Roboto;
    font-size     : 12px;
    font-style    : normal;
    font-weight   : 600;
    line-height   : 30px;
    letter-spacing: 0px;
    padding       : 16px 10px 16px 10px;
  }
  
  .assessment-mark-light-first {
    border-top: 2px solid #000000;
    height    : 30px;
    width     : 14.285%;
  }
  
  .assessment-mark-light {
    border-top : 2px solid #000000;
    border-left: 2px solid #000000;
    height     : 50px;
    width      : 14.285%;
  }


  .report-card-design-title {
    color: var(--text_dark);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    background-color: #dddee0;
    margin: 16px 0xp 8px 0px;
    font-weight: 600;
  }
  
  .report-card-design-subject-title {
    color: #231f20;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }
  
  .report-card-design-subject-assessment {
    color: #231f20;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    padding: 16px 10px 16px 10px;
  }
  
  .assessment-mark-light-first {
    border-top: 2px solid #000000;
    height: 30px;
    width: 14.285%;
  }
  
  .assessment-mark-light {
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    height: 50px;
    width: 14.285%;
  }
  .assessment-mark-dark {
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    background-color: #6c6d70;
    height: 50px;
    width: 14.285%;
  }
  .assessment-scale-box-dark {
    height: 39px;
    width: 39px;
    border-radius: 2px;
    background-color: #6c6d70;
    border: 1px solid #000000;
  }
  .indicators-check-boxes {
    padding: 0px 0px 10px 24px;
  }
  .assessment-scale-box-light {
    height: 39px;
    width: 39px;
    border-radius: 2px;
    border: 1px solid #000000;
  }