/* app info start */
.chat_app_info .app-info-btn {
  background-color: #428f92;
  box-shadow: 0px 2px 3px 0px #0000001a;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  gap: 10px;
  height: 44px;
  width: 44px;
  border: none;
}

.chat_app_info .app-info-icon {
  height: 24px;
  width: 24px;
}

.chat_app_info .chat_box {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.chat_app_info .popup {
  position: absolute;
  width: 257px;
  height: 360px;
  right: 0;
  bottom: 100%;
  /* display: none; */
  background-color: #ffffff;
  margin-bottom: 20px;
}

.chat_app_info .popup:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #428f92;
  position: absolute;
  bottom: -18px;
  right: 15px;
  z-index: 99;
}

.chat_app_info .popup-app-info-top {
  height: 300px;
  padding: 20px;
  border: 1px solid #93f0f3;
  border-radius: 6px 6px 0px 0px;
}

.chat_app_info .popup-card-institutions {
  font-family: Noto Sans Bengali;
  font-size: 12px;
  font-weight: 400;
  height: 60px;
  letter-spacing: 0px;
  /* color: var(--text_dark); */
  padding-top: 5px;
}

.chat_app_info .popup-card-institutions ul> :first-child {
  font-weight: 700;
}

.chat_app_info .chat_btn {
  background-color: #ffffff;
  border: none;
  border-radius: 6px 6px 0px 0px;
}

.chat_app_info .popup-app-info-reserved {
  height: 22px;
}

.chat_app_info .reserved-app-info {
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 400;
  height: 19px;
  letter-spacing: 0px;
  /* color: var(--text_dark); */
}

.chat_app_info .popup-card-body {
  padding: 0px 0px 5px 0px;
  height: 120px;
}

.chat_app_info .popup-card-icons {
  gap: 5px;
  height: 40px;
  margin-bottom: 5px;
}

.chat_app_info .popup-app-info-bottom {
  height: 105px;
}

.chat_app_info .popup-version-bottom {
  height: 58px;
  background-color: #428f92;
  border-radius: 0px 0px 6px 6px;
}

.chat_app_info .popup-version {
  padding: 19px 13px 19px 13px;
  font-family: Public Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

/* app info end */