.dashboard_page {
  height: 100vh;
  font-family: "Roboto" !important;
  background-color: #efefef !important;
}

.report_page {
  background-color: #efefef !important;
}

.teacher_list_page {
  background-color: #efefef !important;
}

.student_list_page {
  height: 100vh;
  background-color: #efefef !important;
}

.class_wise_subject_page {
  background-color: #efefef !important;
}

.mullayonKoronPage {
  height: 100vh;
  background-color: #efefef !important;
}

.editTeacherProfilePage {
  height: 100vh;
  background-color: #efefef !important;
}

.faq_page_bg_color {
  height: 100vh;
  background-color: #efefef !important;
}


.teacher_compo_bg {
  background-color: #efefef !important;
}