/* #nav-toggle-topbar {
  width: 300px !important;
  position: absolute !important;
  top: 3rem;
  right: 5rem;

  background-color: burlywood;
} */

.dropdown-items {
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  gap: 10px;
  padding: 7px 24px;
  position: relative;
}

.dropdown-items .avatar-instance {
  height: 37px !important;
  margin-left: -0.87px !important;
  position: relative !important;
  width: 33.2px !important;
}

.dropdown-items .text {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.dropdown-items .text-wrapper {
  color: rgb(20, 20, 20);
  font-family: var(--light-basic-typography-paragraph-medium-font-family);
  font-size: var(--light-basic-typography-paragraph-medium-font-size);
  font-style: var(--light-basic-typography-paragraph-medium-font-style);
  font-weight: var(--light-basic-typography-paragraph-medium-font-weight);
  letter-spacing: var(--light-basic-typography-paragraph-medium-letter-spacing);
  line-height: var(--light-basic-typography-paragraph-medium-line-height);
  margin-top: -1px;
  position: relative;
  width: 106px;
}

.dropdown-items .div {
  color: rgb(24, 23, 23);
  font-family: var(--light-basic-typography-paragraph-small-font-family);
  font-size: var(--light-basic-typography-paragraph-small-font-size);
  font-style: var(--light-basic-typography-paragraph-small-font-style);
  font-weight: var(--light-basic-typography-paragraph-small-font-weight);
  letter-spacing: var(--light-basic-typography-paragraph-small-letter-spacing);
  line-height: var(--light-basic-typography-paragraph-small-line-height);
  position: relative;
  width: 106px;
}